<h3>Add a scene</h3>

<%= form_for [@battle, @scene] do |f| %>
	<p>
		<%= f.label :name, "Name" %><br/>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :type_of_scene, "Type" %>
		<%= f.select :type_of_scene, ['Recon', 'Charge', 'Defense', 'Retreat'] %>
	</p>
	<p>
		<%= f.label :description, "Description" %>
		<%= f.text_area :description %>
	</p>
	<p>
		<%= f.submit 'Submit' %>
	</p>
<% end %>